$background: rgb(182, 44, 242);

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  position: fixed;
  z-index: 1000;
  padding: 5px 0px 10px 0px;
  bottom: 0%;
  right: 0px;
  left: 0px;
  background-color: rgb(248, 248, 248);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  .nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    span {
      font-size: 0.9rem;
      margin-top: 8px;
      color: rgb(79, 79, 79);
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    .nav-icons {
      font-size: 1.9rem;
    }
    .circlePlus {
      font-size: 2.3rem;
      background-color: $background;
      border-radius: 50%;
      color: white;
      padding: 5px;
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }
  }
}
