.reminder-container {
  background-color: rgb(255, 199, 255);
  border-radius: 0px 0px 36px 36px;
  padding: 40px 20px;
  h1 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .watch-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background: transparent;
    border-radius: 12px;
    padding: 0px;
    gap: 5px;

    p {
      font-size: 2.8rem;
      font-weight: 500;
      width: 25%;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      border-radius: 12px;

      &:nth-child(1) {
        background-color: rgb(255, 0, 43);
      }
      &:nth-child(2) {
        background-color: rgb(9, 255, 0);
      }
      &:nth-child(3) {
        background-color: rgb(0, 255, 213);
      }
      &:nth-child(4) {
        background-color: rgb(255, 0, 195);
      }
    }
  }
}
.reminder-messages {
  padding: 20px;
  margin-bottom: 70px;

  .message-fields {
    background-color: white;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 5px 0px;
    P {
      &:nth-child(1) {
        font-size: 1.1rem;
        font-weight: 500;
        color: rgb(34, 32, 32);
      }
      &:nth-child(2) {
        font-size: 0.8rem;
        color: orangered;
        text-transform: capitalize;
        font-style: italic;
        font-weight: 500;
        background-color: rgb(0, 0, 0);
        padding: 4px 8px;
        border-radius: 12px;
      }
    }
  }
}
