.get-task-container {
  margin: 5px auto;
  overflow-y: scroll;

  p {
    color: red;
    font-size: 1.2rem;
    padding: 20px 0px;
  }
  .task-box {
    margin: 10px auto;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(247, 244, 248);
    &.selectedbox {
      background-color: rgb(240, 195, 253);
    }
    .task-title {
      margin: 0px 0px 20px 0px;
      h2 {
        font-weight: 400;
        font-size: 1rem;
        text-align: left;
        width: 100%;
        padding-bottom: 10px;
        line-height: 1.4;
      }

      .status {
        display: flex;

        gap: 4px;
        margin: 0px;

        span {
          border-radius: 10px;
          color: rgb(117, 115, 112);
          font-size: 0.6rem;
          strong {
            color: rgb(56, 56, 112);
            padding: 0px 6px 0px 2px;
          }
          &.success {
            color: green;
          }

          &.warning {
            color: orange;
          }

          &.red {
            color: red;
          }
        }
      }
    }

    .btn-group {
      margin: 10px 0px;
      span {
        padding: 4px 10px;
        padding-bottom: 9px;
        border: 0;
        margin: 0px 10px 0px 0px;
        font-size: 16px;
        transition: all 150ms ease-in-out;
        color: rgb(82, 53, 1);
        font-weight: 400;
        border-radius: 4px;
        width: fit-content;
        background: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0,
          inset 0px -6px 0px rgba(0, 0, 0, 0.1),
          inset 0px -2px 0px rgba(0, 0, 0, 0.15);
        &:hover {
          filter: brightness(0.98);
          cursor: pointer;
        }
        &:active {
          filter: brightness(0.97);
          padding-top: 2px;
          padding-bottom: 5px;
          box-shadow: rgba(99, 99, 99, 0.2) 0 2px 6px 0,
            inset 0px -1px 0px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}
