.upcomming-container {
  padding: 14px;
  position: relative;
  min-height: 50vh;
  background-color: rgb(221, 199, 255);
  border-radius: 0px 0px 25px 25px;
  button {
    padding: 8px 28px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    position: absolute;
    bottom: 10px;
    border-radius: 26px;
    cursor: pointer;
    background-color: violet;
    color: rgb(121, 3, 121);
  }
  .loader-div {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  h1 {
    font-weight: 500;
    font-size: 1.3rem;
    padding: 20px 0px 0px 0px;
  }
  .qoutes-container {
    padding: 20px 14px;
    .qoutes-box {
      p {
        &:nth-child(1) {
          font-size: 1.2rem;
          line-height: 1.3;
          color: rgb(0, 89, 12);
          font-weight: 500;
        }
        &:nth-child(2) {
          font-size: 0.9rem;
          text-transform: capitalize;
          color: rgb(255, 1, 251);
          background-color: rgb(255, 255, 255);
          width: fit-content;
          padding: 4px 8px;
          margin: 5px 0px;
          border-radius: 12px;
        }
      }
    }
  }
}
.words-of-day {
  padding: 14px;
  margin-bottom: 70px;
  h1 {
    font-weight: 500;
    font-size: 1.3rem;
    padding: 20px 0px 0px 0px;
  }
  .container-words {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px 0px;
    .words {
      width: 47%;
      background-color: blue;
      padding: 10px;
      height: 14vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      &:nth-child(1) {
        background-color: rgba(0, 166, 255, 0.62);
      }
      &:nth-child(2) {
        background-color: rgb(255, 0, 217);
      }
      &:nth-child(3) {
        background-color: rgb(0, 255, 55);
      }
      &:nth-child(4) {
        background-color: rgb(1, 241, 249);
      }
      P {
        color: white;
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 432px) {
  .upcomming-container {
    min-height: 40vh;
    overflow-y: scroll;
  }
}
