* {
  padding: 0%;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  max-width: 768px;
  margin: 0px auto;
}
@media screen and (min-width: 768px) {
  body {
    background-color: rgb(241, 235, 235);
  }
}
